body{
    background-color: lightskyblue;
}
form{
    display:flex;
    flex-direction: column;
    width: 400px;
    margin-left:30px;
    
}
input{
    margin-bottom:10px;
    border-radius: 5px;
}
