body{
    margin: 0 auto;
    width: 60%;
    background-color: rgb(215, 219, 219);
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0;
}
input{
    margin: 10px 0;
}
button{
    width: 200px;
    margin:5px 0;
    background-color: blue;
    color:white;
    display:flex;
    flex-direction: row;
}
#loader{
    display:none;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid blue;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    margin-left: 10px
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}    