#inputs{
    display:flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    text-align: center;
}
input{
    margin: 20px 0;
}
h1{
    font-size: 28px;
}
button{
    width: 150px;
    border-radius: 5px;
    background-color: blue;
    margin: 5px auto;
    color: white;
    padding: 10px;
}
label{
    font-weight: bold;
}