body{
    background-color: lightgrey;
}
#cont{
    background-color: white;
    border-radius: 5px;
    border: 1px solid;
    width: 300px;
    margin: 50px auto;
    text-align: center;

}
button{
    margin:0 5px;
    padding: 10px;
}