#div{
    background-color: bisque;
    display:flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2{
    text-align: center;
}
select{
    margin-top: 10px;
}