body{
    width: 800px;
    margin: 0 auto;
}

header{
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    width: 800px;
}
h1{
    margin: 20px auto;
    text-align: center;
    
}
form{
    margin: 30px 30px;

}
input{
    margin: 0 5px;
}
#container{
    border: 1px solid #007bff;
    border-radius: 3px;
    margin: 0 35px;
}
.task{
    display: flex;
    flex-direction: row;
      border: 1px solid #007bff;
    border-radius: 3px;
    margin: 10px;
  align-items: center;
}
#container button{
    width:15%;
    margin-left: 20px;
    background-color:  #28a745;
    color: white;
    border: unset;
    border-radius: 3px;
}
p{
    width:25%;
    margin-left: 10px;
}