body{
    background-image: linear-gradient(
        to right,
        #f1bebe 0%,
        #f3d87f 100%
    );
}
h2{
    text-align: center;
}
#container{
    display: flex;
    justify-content: center;
}
button{
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px
        rgba(0, 0, 0, 0.785);
    border: unset;  
    padding: 10px 30px;  
}
#submit{
    background-color: green;
}
#failed{
    background-color: red;
}
#info{
    background-color: #3498db;
}
#warning{
    background-color: orange;
}
.toast{
    background-color: rgb(23, 218, 23);
    box-shadow: 2px 2px 10px
        rgba(0, 0, 0, 0.785);
    padding: 10px 30px; 
    width: max-content;
    border-radius: 5px;
    position: absolute;
    right: 50px;
    top:50px

}